<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjhqre.system.mapper.UserMapper">

    <select id="checkUserNameUnique" parameterType="String" resultType="com.xjhqre.common.domain.entity.User">
        select user_id, user_name
        from sys_user
        where user_name = #{userName}
          and del_flag = '0'
        limit 1
    </select>

    <select id="checkPhoneUnique" parameterType="String" resultType="com.xjhqre.common.domain.entity.User">
        select user_id, mobile
        from sys_user
        where mobile = #{mobile}
          and del_flag = '0'
        limit 1
    </select>

    <select id="checkEmailUnique" parameterType="String" resultType="com.xjhqre.common.domain.entity.User">
        select user_id, email
        from sys_user
        where email = #{email}
          and del_flag = '0'
        limit 1
    </select>

    <!-- 根据条件分页查询已分配角色的用户列表 -->
    <select id="selectAllocatedUserList" resultType="com.xjhqre.common.domain.entity.User">
        select distinct u.*
        from sys_user u
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        where u.del_flag = '0'
        <if test="userName != null and userName != ''">
            AND u.user_name like concat('%', #{user.userName}, '%')
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.mobile like concat('%', #{user.mobile}, '%')
        </if>
    </select>

    <!-- 根据条件分页查询未分配用户角色列表 -->
    <select id="selectUnallocatedUserList" resultType="com.xjhqre.common.domain.entity.User">
        select distinct u.user_id, u.user_name, u.nick_name, u.email, u.mobile, u.status, u.create_time
        from sys_user u
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        where u.del_flag = '0' and (r.role_id != #{roleId} or r.role_id IS NULL)
        and u.user_id not in (select u.user_id from sys_user u inner join sys_user_role ur on u.user_id = ur.user_id and
        ur.role_id = #{roleId})
        <if test="userName != null and userName != ''">
            AND u.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.mobile like concat('%', #{mobile}, '%')
        </if>
    </select>


</mapper> 