<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjhqre.iot.mapper.DeviceMapper">

    <select id="selectDeviceListByGroup" resultType="com.xjhqre.iot.domain.entity.Device">
        select d.*
        from iot_device d
        <where>
            <if test="device.userId != null ">and d.user_id = #{device.userId}</if>
            <if test="device.productId != null ">and d.product_id = #{device.productId}</if>
            <if test="device.deviceName != null  and device.deviceName != ''">and d.device_name like concat('%',
                #{device.deviceName}, '%')
            </if>
            <if test="device.productName != null  and device.productName != ''">and d.product_name like concat('%',
                #{device.productName},
                '%')
            </if>
            <if test="device.deviceNumber != null  and device.deviceNumber != ''">and d.device_number =
                #{device.deviceNumber}
            </if>
            <if test="device.status != null ">and d.status = #{device.status}</if>
            <if test="device.address != null  and device.address != ''">and d.address like concat('%',
                #{device.address}, '%')
            </if>
        </where>
        group by d.device_id,d.user_id
        order by d.create_time desc
    </select>

    <!-- 查询物模型最新的值 -->
    <select id="getLastModelValue" resultType="com.xjhqre.iot.domain.entity.ThingsModelValue">
        select *
        from iot_things_model_value
        where model_id = #{modelId}
          and log_id in (SELECT max(log_id)
                         FROM iot_things_model_value
                         where device_id = #{deviceId}
                         GROUP BY identifier)
    </select>

    <!-- 查询设备物模型以及最后一次值记录 -->

    <delete id="deleteDeviceGroupByDeviceId">
        delete
        from iot_device_group
        where device_id = #{deviceId}
    </delete>
</mapper>