<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjhqre.iot.mapper.GroupMapper">

    <!-- 添加设备分组关联 -->
    <insert id="insertDeviceGroups">
        insert into iot_device_group(device_id,group_id)
        values
        <foreach item="deviceId" collection="deviceIdList" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{deviceId},#{groupId},
            </trim>
        </foreach>
    </insert>

    <select id="getDeviceIds" resultType="java.lang.Long">
        select device_id
        from iot_device_group
        where group_id = #{groupId}
    </select>

    <!-- 删除分组下的所有设备关联 -->
    <delete id="deleteDeviceGroupByGroupIds">
        delete from iot_device_group where group_id in
        <foreach item="groupId" collection="groupIds" open="(" separator="," close=")">
            #{groupId}
        </foreach>
    </delete>

</mapper>