<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjhqre.iot.mapper.ProductMapper">

    <update id="changeProductStatus">
        update iot_product
        set status=#{status}
        where product_id = #{productId}
    </update>

    <delete id="deleteProductThingsModelByProductIds" parameterType="String">
        delete from iot_things_model where product_id in
        <foreach item="productId" collection="productIds" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>

    <!--    <select id="firmwareCountInProducts" parameterType="String" resultType="int">-->
    <!--        select count(*) from iot_firmware where product_id in-->
    <!--        <foreach item="productId" collection="array" open="(" separator="," close=")">-->
    <!--            #{productId}-->
    <!--        </foreach>-->
    <!--    </select>-->

    <select id="deviceCountInProducts" parameterType="String" resultType="int">
        select count(*) from iot_device where product_id in
        <foreach item="productId" collection="productIds" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </select>

    <select id="thingsCountInProduct" parameterType="Long" resultType="int">
        select count(model_id)
        from iot_things_model
        where product_id = #{productId}
    </select>
</mapper>