<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjhqre.iot.mapper.SceneActionMapper">

    <select id="listBySceneId" resultType="com.xjhqre.iot.domain.entity.SceneAction">
        select *
        from iot_scene_action
        where scene_id = #{sceneId}
    </select>
</mapper>